*{
  margin: 0px;
  padding: 0px;
  font-family: Comic Sans MS;
}

body{
  background-color: white;
  color: black;
}

.logo{
  width: 75px;
  height: 53px;
  padding-top: 7px;
  padding-left: 71%;
  padding-bottom: 0px;
  position: fixed;
}

.placard{
  width: 100%;
  padding-top:65px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div{
  width: 100%;
}

div ul li  {
  display: block;
  padding-left: 30px;
  color: black;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 3px;
}
div p{
  margin-top: 7px;
  margin-bottom: 7px;
}

.info{
  width: 500px;
  margin-top: 15px;
  padding-left: 10%;
  padding-bottom: 15px;
  font-size: 120%;
  float: left;
}

.imgray{
  padding-top: 30px;
  padding-left: 100px;
  display: block;

}

.timetable{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #8e0b8a;
}

.day{
  margin-left: 60px;
  margin-bottom: 15px;
  background-color: #ce2bc9;
  width: 262px;
  height: 380px;
  text-align: center;
  color: white;
  display: inline-block;
}

div div h1{
  margin-top: 5px;
}

.separatorDay{
  margin-left: 40px;
  padding-top: 5px;
  width: 182px;
  background-color: #a521a1;
  border-radius: 100px;
}

.iconDay{
  width: 100px;
  height: 100px;
}

.sponsors{

}

.social{

}

.icon{
  width: 50px;
  height: 50px;

}

header{
  width: 100%;
  position: fixed;
  z-index: 100%;
  padding-bottom: 2px;
  background-color: silver;
}

nav {
  width: 100%;
  background-color: white;
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-size: 16px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
}

nav ul li:hover {
  background: #60f;
}
