*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: white;
  color: black;
}

.contenido{
  padding-top: 100px;
}

header{
  width: 100%;
  position: fixed;
  z-index: 100%;
  padding-bottom: 2px;
  background-color: silver;
}

.logo{
  padding-top: 7px;
  padding-left: 814px;
  padding-bottom: 0px;
}

nav {
  width: 100%;
  background-color: white;
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: /fonts/gamera;
  font-size: 16px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: black;
  text-decoration: none;
}

nav ul li:hover {
  background: #60f;
}
